<%= form_for(@relay) do |f| %>
  <% if @relay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relay.errors.count, "error") %> prohibited this relay from being saved:</h2>

      <ul>
      <% @relay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pin %><br>
    <%= f.number_field :pin %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>

    <%= f.hidden_field :status, :value => "off" %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
