<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardino</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Bootstrap Devise Cancan" %>">
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>    
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
<!-- Wrap all page content here -->


      <!-- Fixed navbar -->
<!--       <div class="navbar navbar-fixed-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gardino</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/relays">Relays</a></li>
              <li><a href="/sensors">Sensors</a></li>
              <li><a href="/schedules">Schedules</a></li>
              
            </ul>
          </div>
        </div>
      </div> -->

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gardino</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/relays">Relays</a></li>
            <li><a href="/sensors">Sensors</a></li>
            <li><a href="/schedules">Schedules</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        </div>
      </nav>


      <!-- Begin page content -->
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div> <!--! end of .container -->
    <div id="footer">
      <div class="container">
        <p class="text-muted credit"><a href="https://github.com/justinledwards/gardino">Github Gardino Project</a></p>
      </div>
    </div>

    
  </body>
</html>


